:root {
    --body-bg-color: #22212C;
    --border-color: #00ff00;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;


    --font-family: 'Merriweather Sans', sans-serif;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
   scroll-behavior: smooth; 
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-color);

    font-family: var(--font-family);

    height: 100vh;
}

main .container {
    max-width: 1920px;
    width: 100%;

    padding: 40px;

    display: flex;

    gap: 60px;
}

main .container .side-bar {
    max-width: 348px;
    width: 100%;

    display: flex;
    gap: 30px;

    flex-direction: column;
}

main .container .side-bar .profile-card {
    background-color: var(--bg-cards);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    border-radius: 20px;
}

main .container .side-bar .profile-card img {
    width: 128px;
    height: 128px;

    margin-bottom: 30px;

    border-radius: 50%;
    border: 2px solid var(--border-color);
}

main .container .side-bar .profile-card h2 {
    margin-bottom: 10px;

    font-size: 23px;
}

main .container .side-bar .profile-card p {
    font-size: 13px;
    font-weight: 300;
}

main .container .side-bar .profile-socials {
    width: 100%;

    background-color: var(--bg-cards);

    padding: 30px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .container .side-bar .profile-socials .social {
    display: flex;
    align-items: center;

    gap: 20px;
}

main .container .side-bar .profile-socials p {
    font-size: 13px;
}

main .container .side-bar .profile-techs {
    width: 100%;

    background-color: var(--bg-cards);

    padding: 30px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .container .side-bar .profile-techs h3 {
    font-size: 20px;
}

main .container .side-bar .profile-techs .profile-techs-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 15px;
}

main .container .side-bar .profile-techs .profile-techs-content p {
    background-color: var(--bg-techs);
    color: var(--body-bg-color);

    font-size: 10px;
    font-weight: 800;

    text-transform: uppercase;
    text-align: center;

    border-radius: 30px;

    padding: 4px;
}

main .container .side-bar .profile-experiences, main .container .side-bar .profile-education {
    width: 100%;

    background-color: var(--bg-cards);

    padding: 30px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .container .side-bar .profile-experiences .profile-experiences-content .profile-experiences-list, main .container .side-bar .profile-education .profile-education-content .profile-education-list {
    margin-bottom: 1rem;
}

main .container .side-bar .profile-experiences .profile-experiences-content ul, main .container .side-bar .profile-education .profile-education-content ul {
    margin-left: 40px;
}

main .container .side-bar .profile-experiences .profile-experiences-content ul li, main .container .side-bar .profile-education .profile-education-content ul li {
    font-size: 14px;
    font-weight: 800;
}

main .container .side-bar .profile-experiences .profile-experiences-content ul p, main .container .side-bar .profile-education .profile-education-content ul p {
    font-weight: 400;
    font-size: 12px;
}

main .container .side-bar .profile-experiences .profile-experiences-content ul p.profile-experiences-title, main .container .side-bar .profile-education .profile-education-content ul p.profile-education-title {
    font-size: 12px;
    font-weight: 600;
}

main .container .content {
    width: 100%;

    display: flex;
    gap: 30px;

    flex-direction: column;
}

main .container .content .title, main .container .content .subtitle {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px;

    background-color: var(--bg-cards);

    border-radius: 20px;
}

main .container .content .profile-projects {
    display: flex;
    align-items: center;

    gap: 30px;
}

main .container .content .profile-projects .project-wrapper {
    max-width: 461px;
    width: 100%;

    background-color: var(--bg-cards);

    border-radius: 30px;

    padding: 30px;
}

main .container .content .profile-projects .project-wrapper .project-title {
    display: flex;
    align-items: center;

    gap: 16px;
}

main .container .content .profile-projects .project-wrapper .project-body {
    margin: 20px 0 20px 0;
    font-size: 14px;
}

main .container .content .profile-projects .project-wrapper .project-footer {
    display: flex;

    justify-content: space-between;

    font-size: 14px;
}

main .container .content .profile-projects .project-wrapper .project-footer .project-status {
    display: flex;
    align-items: center;
    gap: 16px;
}

main .container .content .profile-projects .project-wrapper .project-footer .project-status .project-stars, main .container .content .profile-projects .project-wrapper .project-footer .project-status .project-forks {
    display: flex;
    align-items: center;
    gap: 8px;
}

main .container .content .profile-projects .project-wrapper .project-footer .project-status .project-stars img {
    width: 20px;
    height: 20px;
}

main .container .content .profile-projects .project-wrapper .project-footer .project-language {
    display: flex;
    align-items: center;

    gap: .5rem;
}

.circle {
    width: 15px;
    height: 15px;

    background-color: #E7DE79;

    border: 2px solid var(--text-color);
    border-radius: 50%;
}

main .container .content .posts {
    width: 100%;

    display: flex;
    align-items: center;

    border-radius: 20px;

    gap: 20px;
    padding: 30px;

    background-color: var(--bg-cards);

    font-size: 14px;
}

main .container .content .posts img {
    width: 128px;
    height: 128px;

    border-radius: 50%;
}

main .container .content .posts h1 {
    font-size: 18px;
    font-weight: 800;
}

main .container .content .posts .post-description {
    margin-top: 28px;

    font-size: 16px;
}

main .container .content .posts .post-techs {
    display: flex;
    gap: 10px;

    margin: 12px 0 0 0;
} 