:root {
    --body-bg-color: hsl(245, 14%, 15%);
    --border-color: hsl(120, 100%, 50%);
    --text-color: hsl(249, 15%, 56%);
    --bg-cards: hsl(244, 13%, 21%);
    --bg-techs: hsl(327, 35%, 68%);

    --yellow: hsl(55, 70%, 69%);

    --font-family: 'Merriweather Sans', sans-serif;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    text-decoration: none;
}

html {
   scroll-behavior: smooth;
}

body {
    background-color: var(--body-bg-color);
    color: var(--text-color);

    font-family: var(--font-family);

    height: 100vh;
}

.title, .subtitle {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px;

    background-color: var(--bg-cards);

    border-radius: 20px;
}

.title a {
    color: var(--text-color);

    transition: all 300ms;
}

.title a:hover {
    opacity: .7;
}

.circle {
    width: 15px;
    height: 15px;

    background-color: var(--yellow);

    border: 2px solid var(--text-color);
    border-radius: 50%;
}

.container {
    max-width: 1920px;
    width: 100%;

    padding: 40px;
    gap: 60px;

    display: flex;
}

.side-bar {
    max-width: 348px;
    width: 100%;

    display: flex;
    gap: 30px;

    flex-direction: column;
}

.content {
    width: 100%;

    display: flex;
    flex-direction: column;
    
    gap: 30px;
}

.profile-card {
    background-color: var(--bg-cards);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 2rem;

    border-radius: 20px;
}

.profile-card img {
    width: 128px;
    height: 128px;

    margin-bottom: 30px;

    border-radius: 50%;
    border: 2px solid var(--border-color);
}

.profile-card h2 {
    margin-bottom: 10px;

    font-size: 23px;
}

.profile-card p {
    font-size: 13px;
    font-weight: 300;
}

.profile-socials {
    width: 100%;

    background-color: var(--bg-cards);

    padding: 30px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-socials .social {
    display: flex;
    align-items: center;

    gap: 20px;
}

.profile-socials p, .profile-socials a {
    font-size: 13px;

    color: var(--text-color);

    transition: all 300ms;

    cursor: pointer;
}

.profile-socials p:hover, .profile-socials a:hover {
    opacity: .7;
} 

.profile-techs {
    width: 100%;

    background-color: var(--bg-cards);

    padding: 30px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-techs h3 {
    font-size: 20px;
}

.profile-techs-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 15px;
}

.profile-techs-content p {
    background-color: var(--bg-techs);
    color: var(--body-bg-color);

    font-size: 10px;
    font-weight: 800;

    text-transform: uppercase;
    text-align: center;

    border-radius: 30px;

    padding: 4px;

    transition: all 300ms;
}

.profile-techs-content p:hover {
    opacity: .7;

    cursor: default;
}

.profile-experiences, .profile-education {
    width: 100%;

    background-color: var(--bg-cards);

    padding: 30px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-experiences-list, .profile-education-list {
    margin-bottom: 1rem;
}

.profile-experiences-content ul, .profile-education-content ul {
    margin-left: 40px;
}

.profile-experiences-content ul li, .profile-education-content ul li {
    font-size: 14px;
    font-weight: 800;
}

.profile-experiences-content ul p, .profile-education-content ul p {
    font-weight: 400;
    font-size: 12px;
}

.profile-experiences-content ul p.profile-experiences-title, .profile-education-content ul p.profile-education-title {
    font-size: 13px;
    font-weight: 600;
}

.title, .subtitle {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px;

    background-color: var(--bg-cards);

    border-radius: 20px;
}

.title a {
    color: var(--text-color);

    transition: all 300ms;
}

.title a:hover {
    opacity: .7;
}

.profile-projects {
    display: flex;
    align-items: center;

    gap: 30px;
}

.project-wrapper {
    max-width: 461px;
    width: 100%;

    cursor: pointer;

    background-color: var(--bg-cards);

    border-radius: 30px;

    padding: 30px;

    transition: border 300ms;

    border: 1px solid var(--bg-cards);
}

.project-wrapper:hover {
    border: 1px solid #00ff00;
}

.project-title {
    display: flex;
    align-items: center;

    gap: 16px;
}

.project-body {
    margin: 20px 0 20px 0;
    font-size: 14px;
}

.project-footer {
    display: flex;

    justify-content: space-between;

    font-size: 14px;
}

.project-status {
    display: flex;
    align-items: center;
    gap: 16px;
}

.project-stars, .project-forks {
    display: flex;
    align-items: center;
    gap: 8px;

    transition: all 300ms;
}

.project-stars:hover, .project-forks:hover {
    opacity: .7;
}

.project-stars img, .project-forks img {
    width: 20px;
    height: 20px;
}

.project-language {
    display: flex;
    align-items: center;

    gap: .5rem;
}

.posts {
    width: 100%;

    display: flex;
    align-items: center;

    border-radius: 20px;

    gap: 20px;
    padding: 30px;

    background-color: var(--bg-cards);

    font-size: 14px;
}

.posts img {
    width: 128px;
    height: 128px;

    border-radius: 50%;
}

.posts h1 {
    font-size: 18px;
    font-weight: 800;
}

.posts .post-description {
    margin-top: 28px;

    font-size: 16px;
}

.posts .post-techs {
    display: flex;
    gap: 10px;

    margin: 12px 0 0 0;
}